<section class="tab activity-{{ tab.id }} {{ tab.cssClass }} sc-ca-condition-tab" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
  <fieldset>
    <legend>{{ strings.heading }}</legend>
    <p class="hint">{{ strings.hint }}</p>
    <p class="hint">{{ strings.variables }}</p>
    <a class="sc-ca-help-link" href="{{ conditionWikiUrl }}" target="_blank" rel="noopener">
      <i class="fas fa-up-right-from-square"></i> {{ strings.wiki }}
    </a>

    {{#if conditionInvalid}}
    <p class="notification warning sc-ca-validation-warning">
      <i class="fas fa-triangle-exclamation"></i>
      {{ strings.invalid }} {{ validationMessage }}
    </p>
    {{/if}}

    {{#if editable}}
    <code-mirror
      name="{{ conditionFlagPath }}"
      language="javascript"
      indent="2"
      class="sc-ca-condition-code"
      aria-label="{{ strings.label }}"
    >{{ condition }}</code-mirror>
    {{else}}
    <textarea
      name="{{ conditionFlagPath }}"
      class="sc-ca-condition-code sc-ca-condition-code--readonly"
      rows="10"
      placeholder="{{ strings.placeholder }}"
      disabled>{{ condition }}</textarea>
    {{/if}}
  </fieldset>
</section>
